.search-header {
    background: #b71c1c;
    padding-left: 20px;

    h1 {
        font-weight: 300;
        margin: 0;
        padding: 28px 8px;
        font-size: 20px;
        color: #fff;

        a.icon {
            float: left;
            margin-right: 10px;
            color: #f3f3f3;
        }
    }
}